<!-- Footer -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Guardian Santé</h3>
            <p>
              123 Rue de la Santé <br>
              75000 Paris<br>
              France <br><br>
              <strong>Téléphone:</strong> +33 1 23 45 67 89<br>
              <strong>Email:</strong> contact&#64;guardiansante.fr<br>
            </p>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liens Utiles</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a routerLink="/">Accueil</a></li>
              <li><i class="bi bi-chevron-right"></i> <a routerLink="/about">À propos</a></li>
              <li><i class="bi bi-chevron-right"></i> <a routerLink="/services">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a routerLink="/terms">Conditions d'utilisation</a></li>
              <li><i class="bi bi-chevron-right"></i> <a routerLink="/privacy">Politique de confidentialité</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  