<div class="container mt-4">
  <h2>Liste de vos Posologies</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Médicament</th>
        <th>Heure Programmée</th>
        <th>Rappel Pris</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let posology of posologies">
        <td>{{ posology.medicationName }}</td>
        <td>{{ posology.scheduledTime | date: 'short' }}</td>
        <td>{{ posology.taken ? 'Oui' : 'Non' }}</td>
        <td>
          <button (click)="deletePosology(posology._id)" class="btn btn-danger btn-sm">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mb-3">
    <button (click)="downloadPDF()" class="btn btn-primary me-2">Télécharger en PDF</button>
    <button (click)="downloadExcel()" class="btn btn-success">Télécharger en Excel</button>
  </div>
</div>
